# ant + build
build
distribution
bin/
tmp/
out/
# idea config
**/.idea/workspace.xml
**/.idea/tasks.xml
# code-oss + eclipse
.lib/
.settings/
.project
.classpath
# code-oss + processing
examples/**/.vscode
# nub config
examples/**/config.json