# ant + build
build
distribution
bin/
tmp/
out/
# idea config
**/.idea/workspace.xml
**/.idea/tasks.xml
# code-oss + eclipse
.lib/
.settings/
.project
.classpath
# code-oss + processing
**/.vscode
# nub config
data/config.json
examples/**/config.json
testing/src/processing/**/config.json
